@media only screen and (max-width: 845px){
    .middle-div{
        width: 100%;
        height: 35rem;
        display: inline;
    }

    .middle-left-div{
        width: 100%;
        display: inline;
       
    }

    .middle-right-div{
        width: 100%;
        
        padding-left: 8px;
        padding-right: 8px;
        
    }
    .list-div ol li{
        list-style: none;
        font-size: 8px;
        margin-top: 10px;
    }
    .final-footer{
        height: 8px;
        font-size: 6px;
        background-color: wheat;
        }
}